alembic
pytest
pytest-dotenv
pytest-mock
pytest-cov
pytest-asyncio
pytest-timeout
sqlalchemy
psycopg2-binary
python-dotenv
fastapi
uvicorn
python-jose[cryptography]
python-multipart
python-dateutil
python-email-validator
python-email-validator
bcrypt
passlib
httpx2